{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dotpot iT Official - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href=" {% static 'assets/img/favicon.png' %} " rel="icon">
  <link href=" {% static 'assets/img/apple-touch-icon.png' %} " rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href=" {% static 'assets/vendor/aos/aos.css' %} " rel="stylesheet">
  <link href=" {% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
  <link href=" {% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %} " rel="stylesheet">
  <link href=" {% static 'assets/vendor/boxicons/css/boxicons.min.css' %} " rel="stylesheet">
  <link href=" {% static 'assets/vendor/glightbox/css/glightbox.min.css' %} " rel="stylesheet">
  <link href=" {% static 'assets/vendor/swiper/swiper-bundle.min.css' %} " rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href=" {% static 'assets/css/style.css' %} " rel="stylesheet">
  <!-- Import icon from Font awesome-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <style>
    #header .logo img {
      padding: 0;
      margin: 0;
      max-height: 166px;
    }
  </style>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <!-- <h1 class="text-light"><a href=" {% static 'index.html' %} "><span>Dotpot iT</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href=" {% static 'index.html' %} "><img src=" {% static 'assets/img/logo.png' %} " alt=""
            class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" id="jobs" href="{% url 'jobs:job_list' %}" target="_blank">Apply for
              jobs</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>Help Business Successful Online</h1>
          <h2>Welcome to Dotpot iT, a digital agency specializing in custom web & mobile app development. Our team works
            closely with clients to deliver beautiful, functional products through user-centered design and latest
            technology.</h2>
          <div>
            <a href="#contact" class="btn-get-started scrollto">Contact Us</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src=" {% static 'assets/img/hero-img.svg' %} " class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src=" {% static 'assets/img/about-img.svg' %} " class="img-fluid" alt="" data-aos="zoom-in">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">Our Key Features</h3>
            <p data-aos="fade-up" data-aos-delay="100">
              Services That We Deliver Makes Us Dignified As One of The Top App Development Companies.</p>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-receipt"></i>
                <h4>Custom web and mobile app development</h4>
                <p>Our team of experts specialize in developing custom web and mobile apps to meet your unique needs and
                  bring your ideas to life.</p>
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-cube-alt"></i>
                <h4>User-centered design and use of latest technologies</h4>
                <p>Our focus on user-centered design and use of the latest technologies ensure that your finished
                  product is both beautiful and functional, delivering an exceptional user experience.</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>
          <p>Check out the great services we offer</p>
        </div>

        <div class="row">
          <!-- Services tab with inline css-->
          <!--Box for web developmant-->
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box" style="text-align: center; margin: 30px 0;">
              <div class="icon" style="display: inline-block; font-size: 50px; color: #333; margin-bottom: 20px;">
                <i class="bi bi-browser-chrome" style=""></i>
              </div>
              <h4 class="title" style="font-size: 20px; font-weight: bold; color: #333;">
                <a href=" /static/ " style="text-decoration: none; color: #333;">Web Development</a>
              </h4>
              <p class="description" style="font-size: 16px; color: #333; margin-top: 10px;">Building and designing
                websites with latest technologies and user-friendly interface.</p>
            </div>
          </div>

          <!--Box for Software Development-->
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box" style="text-align: center; margin: 30px 0;">
              <div class="icon" style="display: inline-block; font-size: 50px; color: #333; margin-bottom: 20px;">
                <i class="bi bi-laptop" style=""></i>
              </div>
              <h4 class="title" style="font-size: 20px; font-weight: bold; color: #333;">
                <a href=" /static/ " style="text-decoration: none; color: #333;">Software Development</a>
              </h4>
              <p class="description" style="font-size: 16px; color: #333; margin-top: 10px;">Developing high-quality,
                scalable and user-friendly software to meet the needs of our clients.</p>
            </div>
          </div>

          <!--Box for AI-->
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box" style="text-align: center; margin: 30px 0;">
              <div class="icon" style="display: inline-block; font-size: 50px; color: #333; margin-bottom: 20px;">
                <i class="fas fa-robot" style=""></i>
              </div>
              <h4 class="title" style="font-size: 20px; font-weight: bold; color: #333;">
                <a href=" /static/ " style="text-decoration: none; color: #333;">AI Development</a>
              </h4>
              <p style="font-size: 14px; color: #333; margin-top: 10px;">
                We offer advanced AI development services that can help you in automating and optimizing various
                processes.
              </p>
            </div>
          </div>

          <!--Box for Mobile App Development-->
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box" style="text-align: center; margin: 30px 0;">
              <div class="icon" style="display: inline-block; font-size: 50px; color: #333; margin-bottom: 20px;">
                <i class="fas fa-mobile-alt" style=""></i>
              </div>
              <h4 class="title" style="font-size: 20px; font-weight: bold; color: #333;">
                <a href=" /static/ " style="text-decoration: none; color: #333;">Mobile App Development</a>
              </h4>
              <p style="font-size: 14px; color: #333; margin-top: 10px;">
                We provide professional and efficient mobile app development services that can help you in expanding
                your business and increasing your reach.
              </p>
            </div>
          </div>

          <!--Box for Call Center-->
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box" style="text-align: center; margin: 30px 0;">
              <div class="icon" style="display: inline-block; font-size: 50px; color: #333; margin-bottom: 20px;">
                <i class="fas fa-phone-volume" style=""></i>
              </div>
              <h4 class="title" style="font-size: 20px; font-weight: bold; color: #333;">
                <a href=" /static/ " style="text-decoration: none; color: #333;">Call Center Services</a>
              </h4>
              <p style="font-size: 14px; color: #333; margin-top: 10px;">
                We provide professional call center services to handle all your inbound and outbound calls.
              </p>
            </div>
          </div>
          <!-- Box for SEO/Digital Marketing-->
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box" style="text-align: center; margin: 30px 0;">
              <div class="icon" style="display: inline-block; font-size: 50px; color: #333; margin-bottom: 20px;">
                <i class="fas fa-search-dollar" style=""></i>
              </div>
              <h4 class="title" style="font-size: 20px; font-weight: bold; color: #333;">
                <a href=" /static/ " style="text-decoration: none; color: #333;">SEO/Digital Marketing</a>
              </h4>
              <p style="font-size: 14px; color: #333; margin-top: 10px;">
                We provide professional and effective SEO and digital marketing services that can help you improve your
                online visibility, reach your target audience, and grow your business.
              </p>
            </div>
          </div>

          <!-- Box for Networking-->
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box" style="text-align: center; margin: 30px 0;">
              <div class="icon" style="display: inline-block; font-size: 50px; color: #333; margin-bottom: 20px;">
                <i class="fas fa-network-wired" style=""></i>
              </div>
              <h4 class="title" style="font-size: 20px; font-weight: bold; color: #333;">
                <a href=" /static/ " style="text-decoration: none; color: #333;">Networking</a>
              </h4>
              <p style="font-size: 14px; color: #333; margin-top: 10px;">
                Our team of experts provides comprehensive and reliable networking solutions to help you manage and
                secure your network infrastructure.
              </p>
            </div>
          </div>

          <!-- Box for Cloud Service-->
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box" style="text-align: center; margin: 30px 0;">
              <div class="icon" style="display: inline-block; font-size: 50px; color: #333; margin-bottom: 20px;">
                <i class="fas fa-cloud" style=""></i>
              </div>
              <h4 class="title" style="font-size: 20px; font-weight: bold; color: #333;">
                <a href=" /static/ " style="text-decoration: none; color: #333;">Cloud Services</a>
              </h4>
              <p style="font-size: 14px; color: #333; margin-top: 10px;">
                Our cloud services provide scalable and secure solutions for businesses of all sizes, allowing for easy
                access and management of your data and applications from anywhere, at any time.
              </p>
            </div>
          </div>

          <!-- Box for Cyber Security-->
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box" style="text-align: center; margin: 30px 0;">
              <div class="icon" style="display: inline-block; font-size: 50px; color: #333; margin-bottom: 20px;">
                <i class="fas fa-shield-alt" style=""></i>
              </div>
              <h4 class="title" style="font-size: 20px; font-weight: bold; color: #333;">
                <a href=" /static/ " style="text-decoration: none; color: #333;">Cyber Security</a>
              </h4>
              <p style="font-size: 14px; color: #333; margin-top: 10px;">
                We provide comprehensive cyber security solutions to protect your business and personal data from
                malicious attacks.
              </p>
            </div>
          </div>

          <!-- Box for IT Support Office-->
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box" style="text-align: center; margin: 30px 0;">
              <div class="icon" style="display: inline-block; font-size: 50px; color: #333; margin-bottom: 20px;">
                <i class="fas fa-toolbox" style=""></i>
              </div>
              <h4 class="title" style="font-size: 20px; font-weight: bold; color: #333;">
                <a href=" /static/ " style="text-decoration: none; color: #333;">IT Support Office</a>
              </h4>
              <p style="font-size: 14px; color: #333; margin-top: 10px;">
                We provide reliable and efficient IT support services for office environments that can help you in
                ensuring smooth
                operation of your business processes.
              </p>
            </div>
          </div>

          <!-- Box for Game Development-->
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box" style="text-align: center; margin: 30px 0;">
              <div class="icon" style="display: inline-block; font-size: 50px; color: #333; margin-bottom: 20px;">
                <i class="fas fa-gamepad" style=""></i>
              </div>
              <h4 class="title" style="font-size: 20px; font-weight: bold; color: #333;">
                <a href=" /static/ " style="text-decoration: none; color: #333;">Game Development</a>
              </h4>
              <p style="font-size: 14px; color: #333; margin-top: 10px;">
                We provide professional and innovative game development services that can help you in creating engaging
                and entertaining games for all platforms.
              </p>
            </div>
          </div>
          <!-- Box for Web3 Development and Blockchain Engineering-->
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box" style="text-align: center; margin: 30px 0;">
              <div class="icon" style="display: inline-block; font-size: 50px; color: #333; margin-bottom: 20px;">
                <i class="fab fa-ethereum" style=""></i>
              </div>
              <h4 class="title" style="font-size: 20px; font-weight: bold; color: #333;">
                <a href=" /static/ " style="text-decoration: none; color: #333;">Web3 Development & Blockchain
                  Engineering</a>
              </h4>
              <p style="font-size: 14px; color: #333; margin-top: 10px;">
                Our experienced team of Web3 developers and blockchain engineers can help you design, develop and
                implement
                cutting-edge blockchain solutions.
              </p>
            </div>
          </div>

          <!--Class Row ends below the div-->
        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Clients</h2>
          <p>They trusted us</p>
        </div>

        <div class="clients-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src=" {% static 'assets/img/clients/client-1.png' %} " class="img-fluid"
                alt=""></div>
            <div class="swiper-slide"><img src=" {% static 'assets/img/clients/client-2.png' %} " class="img-fluid"
                alt=""></div>
            <div class="swiper-slide"><img src=" {% static 'assets/img/clients/client-3.png' %} " class="img-fluid"
                alt=""></div>
            <div class="swiper-slide"><img src=" {% static 'assets/img/clients/client-4.png' %} " class="img-fluid"
                alt=""></div>
            <div class="swiper-slide"><img src=" {% static 'assets/img/clients/client-5.png' %} " class="img-fluid"
                alt=""></div>
            <div class="swiper-slide"><img src=" {% static 'assets/img/clients/client-6.png' %} " class="img-fluid"
                alt=""></div>
            <div class="swiper-slide"><img src=" {% static 'assets/img/clients/client-7.png' %} " class="img-fluid"
                alt=""></div>
            <div class="swiper-slide"><img src=" {% static 'assets/img/clients/client-8.png' %} " class="img-fluid"
                alt=""></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact Us</h2>
          <p>Contact us to get started</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>House-1, Road-3, Block-A, Mirpur-10, Dhaka, Bangladesh.</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>help@dotpotit.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+880 1817 176 192</p>
              </div>

              <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.247472043089!2d90.3658077145906!3d23.80979748456011!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c154f4caa0ad%3A0x31fecdb3c5351d8d!2sDotpot%20iT!5e0!3m2!1sen!2sbd!4v1675153448200!5m2!1sen!2sbd"
                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="email">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" aria-describedby="email-error">
                  <div id="email-error" class="invalid-feedback">
                    Please enter a valid email address.
                  </div>
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <label for="message">Message</label>
                <textarea class="form-control" name="message" id="message" rows="10" required
                  placeholder="Enter your message here"></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <form action="" method="post">
              <label for="email-input">Subscribe to our newsletter:</label>
              <input type="email" name="email" id="email-input" placeholder="Enter your email address">
              <button type="submit">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Dotpot iT</h3>
            <p>
              House-1, Road-3, Block-A, Mirpur-10, Dhaka, Bangladesh<br><br>
              <strong>Phone:</strong> +880 1817 176 192<br>
              <strong>Email:</strong> help@dotpotit.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Contact Us</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i>help@dotpotit.com</li>
              <li><i class="bx bx-chevron-right"></i>marketing@dotpotit.com</li>
              <li><i class="bx bx-chevron-right"></i>sales@dotpotit.com</li>
              <li><i class="bx bx-chevron-right"></i>hr@dotpotit.com</li>
              <li><i class="bx bx-chevron-right"></i>career@dotpotit.com</li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Follow us on social media.</p>
            <div class="social-links mt-3">
              <a href="https://www.twitter.com/dotpotit" class="twitter" target="_blank"><i
                  class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/dotpotit" class="facebook" target="_blank"><i
                  class="bx bxl-facebook"></i></a>
              <a href="https://wa.me/+8801817176192" class="whatsapp" target="_blank"><i
                  class="bx bxl-whatsapp"></i></a>
              <a href="https://www.github.com/dotpotit" class="github" target="_blank"><i class="bx bxl-github"></i></a>
              <a href="https://www.linkedin.com/in/dotpotit" class="linkedin" target="_blank"><i
                  class="bx bxl-linkedin"></i></a>
            </div>

            <div class="social-links mt-3">
              <a href="https://www.youtube.com/@dotpotit" class="youtube" target="_blank"><i
                  class="bx bxl-youtube"></i></a>
              <a href="https://www.tiktok.com/@dotpotit" class="tiktok" target="_blank"><i
                  class="bx bxl-tiktok"></i></a>
              <a href="https://t.me/dotpotit" class="telegram" target="_blank"><i class="bx bxl-telegram"></i></a>
              <a href="https://www.instagram.com/dotpotit" class="instagram" target="_blank"><i
                  class="bx bxl-instagram"></i></a>
              <a href="https://snapchat.com/add/dotpotit" class="snapchat" target="_blank"><i
                  class="bx bxl-snapchat"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Dotpot iT</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
        Designed by <a href="https://dotpotit.com/">Dotpot iT</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src=" {% static 'assets/vendor/aos/aos.js' %} "></script>
  <script src=" {% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
  <script src=" {% static 'assets/vendor/glightbox/js/glightbox.min.js' %} "></script>
  <script src=" {% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %} "></script>
  <script src=" {% static 'assets/vendor/swiper/swiper-bundle.min.js' %} "></script>
  <script src=" {% static 'assets/vendor/php-email-form/validate.js' %} "></script>

  <!-- Template Main JS File -->
  <script src=" {% static 'assets/js/main.js' %} "></script>

</body>

</html>