{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Dotpot iT Official - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords"> <!-- Favicons -->
  <link href=" {% static 'assets/img/favicon.png' %} " rel="icon">
  <link href=" {% static 'assets/img/apple-touch-icon.png' %} " rel="apple-touch-icon"> <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
    rel="stylesheet"> <!-- Vendor CSS Files -->
  <link href=" {% static 'assets/vendor/aos/aos.css' %} " rel="stylesheet">
  <link href=" {% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
  <link href=" {% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %} " rel="stylesheet">
  <link href=" {% static 'assets/vendor/boxicons/css/boxicons.min.css' %} " rel="stylesheet">
  <link href=" {% static 'assets/vendor/glightbox/css/glightbox.min.css' %} " rel="stylesheet">
  <link href=" {% static 'assets/vendor/swiper/swiper-bundle.min.css' %} " rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href=" {% static 'assets/css/style.css' %} " rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1 class="text-light"><a href=" {% static 'index.html' %} "><span>Dotpot iT</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href=" {% static 'index.html' %} "><img src=" {% static 'assets/img/logo.png' %} " alt="" class="img-fluid"></a>-->
      </div>

    </div>
  </header><!-- End Header -->

  <!-- Main content goes here -->

  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>We are Hiring...</h1>
          <h2>Dotpot IT is seeking talented and driven web developers and Digital Marketing Manager to join our team!
            With competitive salaries and
            opportunities for growth, this is the perfect opportunity for those looking to take their skills to the next
            level. Apply now and join us in creating cutting-edge digital solutions!</h2>
          <div>
            <a href="#services" class="btn-get-started scrollto" id="apply-now-btn">Apply Now</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{% static 'assets/img/hiring.jpg' %}" class="img-fluid animated" alt=""
            style="border-radius: 10px;">
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="services section-bg" style="padding: 144px 0; flex: 1;">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <p>Discover your dream job<br>among our extensive list of<br>opportunities!</p>
      </div>

      <div class="column d-flex flex-column justify-content-center" style="align-items: center;">
        <div class="col-md-12 col-lg-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box" id="specific-icon-box"
            style="display: flex; flex-direction: column; align-items: center; justify-content: center; border: solid 5px #eb5d1e; border-radius: 10px;">
            <div class="icon" style="margin-bottom: 10px;"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title" style="margin-bottom: 10px;">Full Stack Developer</a></h4>
            <p style="margin-bottom: 10px;">Develop and maintain websites, applications, and systems by utilizing
              knowledge of front-end and back-end technologies.</p>
            <button id="apply-btn1"
              style="margin-bottom: 20px; background-color: #eb5d1e; border-radius: 10px; padding: 10px 20px;">Apply</button>
            <!--responsive box-->
            <div id="responsive-box-dev"
              style="display: none; padding: 20px; border-radius: 10px; background-color: #fdeee6;">
              <form action="{% url 'jobs:apply_job' job_title='full_stack_developer' %}" method="post"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="name" style="font-weight: bold;">Name:</label>
                  <input type="text" id="name" name="name" required
                    style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="address" style="font-weight: bold;">Address:</label>
                  <input type="text" id="address" name="address" required
                    style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="resume" style="font-weight: bold;">Resume:</label>
                  <input type="file" name="resume" id="resume" accept="application/pdf"
                    style="padding: 10px; border-radius: 10px; border: 1px solid;">
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="area" style="font-weight: bold;">Area:</label>
                  <select id="area" name="area" required
                    style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
                    <option value="Mirpur">Mirpur</option>
                    <option value="Mohammadpur">Mohammadpur</option>
                  </select>
                </div>
                <input type="submit" value="Submit"
                  style="padding: 10px; background-color: #eb5d1e; color: #fff; border-radius: 5px;">
              </form>
              {% if form.is_valid %}
              <p style="color: green;">Form submitted successfully!</p>
              {% endif %}
            </div>

            <!--responsive page end-->

          </div>
        </div>
        <div class="col-md-12 col-lg-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box" id="specific-icon-box"
            style="display: flex; flex-direction: column; align-items: center; justify-content: center; border: solid 5px #eb5d1e; border-radius: 10px;">
            <div class="icon" style="margin-bottom: 10px;"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title" style="margin-bottom: 10px;">Digital Marketing Manager</a>
            </h4>
            <p style="margin-bottom: 10px;">Develop and execute effective digital marketing strategies to drive brand
              awareness, engagement, and lead generation.</p>
            <button id="apply-btn2"
              style="background-color: #eb5d1e; border-radius: 10px; padding: 10px 20px;">Apply</button>
            <!-- pop up created to open the job description and form-->

            <!--responsive box for marketing-->
            <div id="responsive-box-mar"
              style="display: none; padding: 20px; border-radius: 10px; background-color: #fdeee6;">
              <form action="{% url 'jobs:apply_job' job_title='digital_marketing_manager' %}" method="post"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="name" style="font-weight: bold;">Name:</label>
                  <input type="text" id="name" name="name" required
                    style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="address" style="font-weight: bold;">Address:</label>
                  <input type="text" id="address" name="address" required
                    style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="resume" style="font-weight: bold;">Resume:</label>
                  <input type="file" name="resume" id="resume" accept="application/pdf"
                    style="padding: 10px; border-radius: 10px; border: 1px solid;">
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="area" style="font-weight: bold;">Area:</label>
                  <select id="area" name="area" required
                    style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
                    <option value="Mirpur">Mirpur</option>
                    <option value="Mohammadpur">Mohammadpur</option>
                  </select>
                </div>
                <input type="submit" value="Submit"
                  style="padding: 10px; background-color: #eb5d1e; color: #fff; border-radius: 5px;">
              </form>
              {% if form.is_valid %}
              <p style="color: green;">Form submitted successfully!</p>
              {% endif %}
            </div>

            <!-- Add your responsive box content here -->
          </div>
        </div>
      </div>
    </div>

    </div>

    </div>
  </section>
  <!-- end services section here-->

  <!-- Main content ends here -->

  <!-- ======= Footer ======= -->
  <footer id="footer">


    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Dotpot iT</h3>
            <p>
              House-1, Road-3, Block-A, Mirpur-10, Dhaka, Bangladesh<br><br>
              <strong>Phone:</strong> +880 1817 176 192<br>
              <strong>Email:</strong> help@dotpotit.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Coming Soon</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Dotpot iT</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
        Designed by <a href="https://dotpotit.com/">Dotpot iT</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src=" {% static 'assets/vendor/aos/aos.js' %} "></script>
  <script src=" {% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
  <script src=" {% static 'assets/vendor/glightbox/js/glightbox.min.js' %} "></script>
  <script src=" {% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %} "></script>
  <script src=" {% static 'assets/vendor/swiper/swiper-bundle.min.js' %} "></script>
  <script src=" {% static 'assets/vendor/php-email-form/validate.js' %} "></script>

  <!-- Template Main JS File -->
  <script src=" {% static 'assets/js/main.js' %} "></script>
  <script>
    document.getElementById("apply-now-btn").addEventListener("click", function () {
      document.getElementById("services").scrollIntoView({
        behavior: "smooth"
      });
    });
    // Apply button for both boxes.
    $(document).ready(function () {
      $('#apply-btn1').click(function () {
        $('#responsive-box-dev').toggle();
      });
      $('#apply-btn2').click(function () {
        $('#responsive-box-mar').toggle();
      });
    });
    // Get reference to the file input element
    const input = document.getElementById("resume");

    // Listen for change event on the file input
    input.addEventListener("change", function () {
      // Get the selected file
      const file = this.files[0];

      // Display the file name during the upload process
      document.getElementById("resume").style.background = "lightgray";
      document.getElementById("resume").innerHTML = file.name;
    });
  </script>
</body>

</html>