{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Dotpot iT Official - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords"> <!-- Favicons -->
  <link href=" {% static 'assets/img/favicon.png' %} " rel="icon">
  <link href=" {% static 'assets/img/apple-touch-icon.png' %} " rel="apple-touch-icon"> <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i"
    rel="stylesheet"> <!-- Vendor CSS Files -->
  <link href=" {% static 'assets/vendor/aos/aos.css' %} " rel="stylesheet">
  <link href=" {% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
  <link href=" {% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %} " rel="stylesheet">
  <link href=" {% static 'assets/vendor/boxicons/css/boxicons.min.css' %} " rel="stylesheet">
  <link href=" {% static 'assets/vendor/glightbox/css/glightbox.min.css' %} " rel="stylesheet">
  <link href=" {% static 'assets/vendor/swiper/swiper-bundle.min.css' %} " rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href=" {% static 'assets/css/style.css' %} " rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    #header .logo img {
      padding: 0;
      margin: 0;
      max-height: 166px;
    }
  </style>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <!-- <h1 class="text-light"><a href=" {% static 'index.html' %} "><span>Dotpot iT</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="https://dotpotit.com"><img src=" {% static 'assets/img/logo.png' %} " alt="" class="img-fluid"></a>
      </div>

    </div>
  </header><!-- End Header -->

  <!-- Main content goes here -->

  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1>We are Hiring...</h1>
          <h2>Dotpot IT is seeking talented and driven web developers and Digital Marketing Manager to join our team!
            With competitive salaries and
            opportunities for growth, this is the perfect opportunity for those looking to take their skills to the next
            level. Apply now and join us in creating cutting-edge digital solutions!</h2>
          <div>
            <a href="#services" class="btn-get-started scrollto" id="apply-now-btn">Apply Now</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{% static 'assets/img/hiring.jpg' %}" class="img-fluid animated" alt=""
            style="border-radius: 10px;">
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="services section-bg" style="padding: 144px 0; flex: 1;">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <p>Discover your dream job<br>among our extensive list of<br>opportunities!</p>
      </div>

      <div class="column d-flex flex-column justify-content-center" style="align-items: center;">
        <div class="col-md-12 col-lg-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box" id="specific-icon-box"
            style="display: flex; flex-direction: column; align-items: center; justify-content: center; border: solid 5px #eb5d1e; border-radius: 10px;">
            <div class="icon" style="margin-bottom: 10px;"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title" style="margin-bottom: 10px;">Full Stack Developer</a></h4>
            <p style="margin-bottom: 10px;">We are currently seeking a Full Stack Developer to join our team. The ideal
              candidate should have a strong understanding of web development technologies and experience building
              complex, dynamic web applications. You will be responsible for designing, developing, and maintaining our
              web applications, working closely with the rest of the team to ensure that our solutions meet the needs of
              our customers. If you have a passion for web development and are excited about working on cutting-edge
              projects, we would love to hear from you!</p>
            <button id="apply-btn1"
              style="margin-bottom: 20px; background-color: #eb5d1e; border-radius: 10px; padding: 10px 20px;">Apply</button>
            <!--responsive box-->
            <div id="responsive-box-dev"
              style="display: none; padding: 20px; border-radius: 10px; background-color: #fdeee6;">
              <form action="{% url 'jobs:apply_job' job_title='full_stack_developer' %}" method="post"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="name" style="font-weight: bold;">Name:</label>
                  <input type="text" id="name" name="name" required
                    style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="email" style="font-weight: bold;">Email:</label>
                  <input type="email" id="email" name="email" required
                    style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="address" style="font-weight: bold;">Address:</label>
                  <input type="text" id="address" name="address" required
                    style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="phone" style="font-weight: bold;">Phone Number:</label>
                  <input type="text" id="phone" name="phone_number" required
                    oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                    style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="work-type" style="font-weight: bold;">Work Type:</label>
                  <select id="work-type" name="work_type"
                    style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
                    <option value="on-site">On-Site</option>
                    <option value="remote">Remote</option>
                  </select>
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="resume" style="font-weight: bold;">Resume:</label>
                  <input type="file" name="resume" id="resume" accept="application/pdf" required
                    style="padding: 10px; border-radius: 10px; border: 1px solid;">
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="cover-letter" style="font-weight: bold;">Cover Letter:</label>
                  <textarea id="cover-letter" name="cover_letter" required
                    style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;"></textarea>
                </div>
                <input type="submit" value="Submit"
                  style="padding: 10px; background-color: #eb5d1e; color: #fff; border-radius: 5px;">
              </form>
            </div>


            <!--responsive page end-->

          </div>
        </div>
        <div class="col-md-12 col-lg-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box" id="specific-icon-box"
            style="display: flex; flex-direction: column; align-items: center; justify-content: center; border: solid 5px #eb5d1e; border-radius: 10px;">
            <div class="icon" style="margin-bottom: 10px;"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title" style="margin-bottom: 10px;">Digital Marketing Manager</a>
            </h4>
            <p style="margin-bottom: 10px;">We are currently seeking a talented Digital Marketing Manager to join our
              team. The ideal candidate will have experience creating and executing successful marketing campaigns
              across various platforms, and a strong understanding of digital marketing tactics such as SEO, social
              media, and email marketing. If you're a strategic thinker and a results-driven individual, we want to hear
              from you!</p>
            <button id="apply-btn2"
              style="background-color: #eb5d1e; border-radius: 10px; padding: 10px 20px;">Apply</button>
            <!-- pop up created to open the job description and form-->

            <!--responsive box for marketing-->
            <div id="responsive-box-mar"
              style="display: none; padding: 20px; border-radius: 10px; background-color: #fdeee6;">
              <form action="{% url 'jobs:apply_job' job_title='digital_marketing_manager' %}" method="post"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="name" style="font-weight: bold;">Name:</label>
                  <input type="text" id="name" name="name" required
                    style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="email" style="font-weight: bold;">Email:</label>
                  <input type="email" id="email" name="email" required
                    style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="address" style="font-weight: bold;">Address:</label>
                  <input type="text" id="address" name="address" required
                    style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="phone" style="font-weight: bold;">Phone Number:</label>
                  <input type="text" id="phone" name="phone_number" required
                    oninput="this.value=this.value.replace(/[^0-9]/g,'');"
                    style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="work-type" style="font-weight: bold;">Work Type:</label>
                  <select id="work-type" name="work_type"
                    style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
                    <option value="on-site">On-Site</option>
                    <option value="remote">Remote</option>
                  </select>
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="resume" style="font-weight: bold;">Resume:</label>
                  <input type="file" name="resume" id="resume" accept="application/pdf" required
                    style="padding: 10px; border-radius: 10px; border: 1px solid;">
                </div>
                <div class="form-group" style="margin-bottom: 20px;">
                  <label for="cover-letter" style="font-weight: bold;">Cover Letter:</label>
                  <textarea id="cover-letter" name="cover_letter" required
                    style="padding: 10px; border-radius: 5px; border: 1px solid #ccc;"></textarea>
                </div>
                <input type="submit" value="Submit"
                  style="padding: 10px; background-color: #eb5d1e; color: #fff; border-radius: 5px;">
              </form>
            </div>


            <!-- Add your responsive box content here -->
          </div>
        </div>
      </div>
    </div>

    </div>

    </div>
  </section>
  <!-- end services section here-->

  <!-- Main content ends here -->

  <!-- ======= Footer ======= -->
  <footer id="footer">


    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Dotpot iT</h3>
            <p>
              Dotpot iT, House-1, Road-3, Block-A, Mirpur-10, Dhaka, Bangladesh<br><br>
              <strong>Phone:</strong> +880 1817 176 192<br>
              <strong>Email:</strong> help@dotpotit.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'terms' %}">Terms and Conditions</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'privacy' %}">Privacy Policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Contact Us</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i>help@dotpotit.com</li>
              <li><i class="bx bx-chevron-right"></i>marketing@dotpotit.com</li>
              <li><i class="bx bx-chevron-right"></i>sales@dotpotit.com</li>
              <li><i class="bx bx-chevron-right"></i>hr@dotpotit.com</li>
              <li><i class="bx bx-chevron-right"></i>career@dotpotit.com</li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Follow us on social media.</p>
            <div class="social-links mt-3">
              <a href="https://www.twitter.com/dotpotit" class="twitter" target="_blank"><i
                  class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/dotpotit" class="facebook" target="_blank"><i
                  class="bx bxl-facebook"></i></a>
              <a href="https://wa.me/+8801817176192" class="whatsapp" target="_blank"><i
                  class="bx bxl-whatsapp"></i></a>
              <a href="https://www.linkedin.com/in/dotpotit" class="linkedin" target="_blank"><i
                  class="bx bxl-linkedin"></i></a>
            </div>

            <div class="social-links mt-3">
              <a href="https://www.youtube.com/@dotpotit" class="youtube" target="_blank"><i
                  class="bx bxl-youtube"></i></a>
              <a href="https://www.tiktok.com/@dotpotit" class="tiktok" target="_blank"><i
                  class="bx bxl-tiktok"></i></a>
              <a href="https://t.me/dotpotit" class="telegram" target="_blank"><i class="bx bxl-telegram"></i></a>
              <a href="https://www.instagram.com/dotpotit" class="instagram" target="_blank"><i
                  class="bx bxl-instagram"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Dotpot iT</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
        Designed by <a href="https://dotpotit.com/">Dotpot iT</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src=" {% static 'assets/vendor/aos/aos.js' %} "></script>
  <script src=" {% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
  <script src=" {% static 'assets/vendor/glightbox/js/glightbox.min.js' %} "></script>
  <script src=" {% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %} "></script>
  <script src=" {% static 'assets/vendor/swiper/swiper-bundle.min.js' %} "></script>
  <script src=" {% static 'assets/vendor/php-email-form/validate.js' %} "></script>

  <!-- Template Main JS File -->
  <script src=" {% static 'assets/js/main.js' %} "></script>
  <script>
    document.getElementById("apply-now-btn").addEventListener("click", function () {
      document.getElementById("services").scrollIntoView({
        behavior: "smooth"
      });
    });
    // Apply button for both boxes.
    $(document).ready(function () {
      $('#apply-btn1').click(function () {
        $('#responsive-box-dev').toggle();
      });
      $('#apply-btn2').click(function () {
        $('#responsive-box-mar').toggle();
      });
    });
    // Get reference to the file input element
    const input = document.getElementById("resume");

    // Listen for change event on the file input
    input.addEventListener("change", function () {
      // Get the selected file
      const file = this.files[0];

      // Display the file name during the upload process
      document.getElementById("resume").style.background = "lightgray";
      document.getElementById("resume").innerHTML = file.name;
    });
  </script>
</body>

</html>